* {
    box-sizing: border-box;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}
body {
    min-height: 100vh;
    padding: 10vh 20px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);;
}


/* Forgot page design */

